.wrapper {
  height: calc(100% - 190px);
}

.content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
}

.content > main {
  flex: 1;
}

.content > .spiner-wrap {
  flex: 1;
}
